span.ql-font-serif {
  font-family: "Georgia", serif !important;
}

span.ql-font-monospace {
  font-family: "Inconsolata", monospace !important;
}

a {
  color: #000 !important;
  text-decoration: none;
}

a:hover {
  color: #000 !important;
}