.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 57px);

  .content {
    margin: auto;
    height: 1000px;
    max-width: 960px;

    * {
      max-width: 98vw;
      margin-right: 0;
    }

    .carousel {
      max-width: 80%;
      margin: auto;
    }

    .blog__posts {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
