.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(248, 248, 248, 0.818);

  .content_outline {
    display: flex;
    justify-content: center;
    padding: 0.8em 0;
    max-width: 100vw;

    @media screen and (max-width: 1450px) {
      flex-direction: column;
      align-items: center;

      > div {
        max-width: 95%;
      }
    }

    .content {
      width: 960px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 3em 0;
      border-radius: 0.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1em;
      height: min-content;

      > div {
        width: 95%;
      }

      @media screen and (max-width: 1450px) {
        max-width: 95%;
      }

      .carousel {
        max-width: 80%;
      }
    }

    .divider {
      margin: 2em 1em;
      color: rgba(252, 252, 252, 0);
      max-width: 90%;
      min-width: 80%;
      border-top-width: 1px;
      border-top-color: rgb(232, 232, 232);
      border-top-style: solid;
    }

    .blog__posts {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .left_bar {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 6em;

    @media screen and (max-width: 1450px) {
      position: static;
      flex-direction: row;
      justify-content: start;
      min-width: 95%;
    }

    .like {
      position: relative;
      .liked {
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.2s;

        @keyframes fadeInOpacity {
          0% {
            scale: 1;
          }
          30% {
            scale: 1.2;
          }
          100% {
            scale: 1;
          }
        }
      }
      .count {
        position: absolute;
        bottom: -0.3em;
        right: -0.3em;
        color: gray;
      }
    }
    div {
      margin: 1em 0;
    }
  }

  .right_outline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    height: min-content;

    > div {
      width: 100%;
    }

    @media screen and (max-width: 1450px) {
      flex-direction: column;
      align-items: center;
      max-width: max-content;

      > div {
        max-width: 95%;
      }
    }

    .right_bar {
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5em;
      }

      @media screen and (max-width: 1450px) {
        max-width: 300px;
        margin: 1em 0;
      }

      > div {
        overflow-wrap: break-word;
      }
    }

    .recommended {
      margin: 1em 0;
      background-color: white;
      overflow: hidden;
      max-width: 100%;
      padding: 1em;
      box-sizing: border-box;
      border-radius: 1em;

      .recommended_title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: #333;
      }

      .recommended_posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .recommended_post {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin: 0.3em 0;
          border-radius: 0.5em;
          padding: 1em 0;

          &:hover {
            background-color: rgba(248, 248, 248, 0.818);
          }

          .recommended_post_tags {
            max-width: 100%;
            flex-wrap: nowrap;
            margin: 0.5em 0;
            overflow: hidden;
            height: min-content;

            > div {
              max-width: 100%;
              overflow: hidden;
              padding-left: 0;

              > div {
                text-overflow: initial;
                display: block;
                overflow: initial;
                /* min-width: 6em; */
              }
            }
          }

          .recommended_text {

          }
        }
      }
    }
  }
}
